* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dancing Script", cursive;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  z-index: 10;
}

.galery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 20px;
  flex-grow: 1;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #b6a4a438;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  cursor: pointer;
}
.card img {
  width: 100%;
  border-radius: 10px;
}
.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: flex-start;
  height: 180px;
  flex-grow: 1;
}

.card h2 {
  margin-bottom: 10px;
  font-size: medium;
}

.card p {
  color: #555;
}
header h1 {
  margin: 0;
}

footer {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 20px;
  position: relative;
  width: 100%;
  height: 70px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 30px;
}

.footer-links a:hover i {
  color: white !important;
}

@media (max-width: 768px) {
  header {
    background-color: #89a87f;
    color: black;
  }
}

@media (max-width: 430px) {
  header {
    background-color: #70deb2;
    color: black;
  }
}
